.circular-progress {
  position: relative;
  width: 200px;
  height: 200px;
}

.circle-background {
  stroke: #eee;
}

.circle-progress {
  stroke: #4caf50;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.3s ease;
}

.progress-text {
  font-size: 24px;
  fill: #333;
  text-anchor: middle;
  -o-table-baseline: middle;
} 